# Virtualenv
venv/
.venv/

# Python cache/compiled
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS / editor
.DS_Store
.vscode/
.idea/

# Env files
.env
.env.*
